:root {
  --primary: #1888ff;
}

.btn {
  padding: 8px 20px;
  border-radius: 4px;
  outline: none;
  border: none;
  font-size: 14px;
  color: #000000;
  cursor: pointer;
  background: none;

  @media (max-width: 768px) {
    font-size: 21px;  
    color: #fff;
  }
}

.p-r {
  margin-right: 5px;
}