* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;

  &:before, &:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
  }
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: Helvetica,Arial,sans-serif;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  color: #0a0a0b;
}

ul, nav {
  list-style: none;
  padding: 0;
}

a {
  color: #6c757e;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.9;

  &:hover {
    opacity: 1;
    color:#2d1582;
  }
}